@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
}

@layer components {
  .heads {
    @apply container flex h-36 mx-auto my-10 bg-indigo-950 rounded-xl border-2 border-indigo-300;
  }

  .input-field {
    @apply rounded-lg p-4 w-full bg-indigo-950 border-2 border-indigo-300 outline-none focus:ring ring-indigo-900 text-indigo-100;
  }

  .submit-btn {
    @apply mt-2 p-3 px-7 font-semibold w-fit rounded-xl bg-sky-300 hover:bg-sky-500 transition-all ease-in-out;
  }
}
